@import "/node_modules/reveal.js/dist/reveal.css";
@import "/node_modules/reveal.js/dist/theme/black.css";

body {
	height: 100dvh;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.reveal {
	width: 100%;
	height: 100%;
	animation: fade 0.5s ease-in;

	&[data-initialized="false"] {
		opacity: 0;
	}

	.slide-only {
		display: unset;
	}

	section {
		display: grid !important;
		grid-template-columns: 1fr auto 1fr;
		gap: var(--r-block-margin);
		word-break: keep-all;
		overflow-wrap: anywhere;

		> * {
			--r-block-margin: 0px;

			grid-column: 2;
			text-transform: none;

			&:not(h1, h2) {
				text-align: start;
			}
		}

		:not(pre) code {
			display: inline;
		}

		:is(h1, h2, h3, h4, h5, h6) {
			grid-column: 1 / span 3;
		}

		:is(h2, h3, h4, h5, h6) {
			margin: 0;
		}

		h3 {
			text-align: center !important;
		}

		iframe {
			max-width: none;
			max-height: none;
			width: auto;
			height: calc(var(--slide-height) * var(--iframe-height-percent, 0.5));
			aspect-ratio: 16 / 9;
		}
	}

	.expressive-code {
		text-align: start;
	}
}

t-align-center {
	display: block;
	width: 100%;
	text-align: center;
}
