---
import { LinkButton } from "@astrojs/starlight/components"
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro"
import { findManyTalk } from "#@/feature/talk/repository/findManyTalk.js"
import { getTalkSlidePath } from "../_lib"

type Params = {
	slug: string
}

export async function getStaticPaths() {
	const talkList = await findManyTalk()
	return talkList.map(
		(talk) =>
			({
				params: {
					slug: talk.slug,
				},
				props: {
					id: talk.id,
					slug: talk.slug,
					frontmatter: {
						title: talk.data.title.replaceAll("<wbr/>", ""),
					},
					render: talk.render,
				},
			}) satisfies Record<string, unknown> & { params: Params },
	)
}

const { props } = Astro
const { Content, headings } = await props.render()
---

<StarlightPage frontmatter={props.frontmatter} headings={headings}>
	<div>{`File ID: ${props.id}`}</div>
	<div>
		<LinkButton href={getTalkSlidePath(props.slug)}>スライドモード</LinkButton>
	</div>
	<hr />
	<Content />
</StarlightPage>

<style is:global>
iframe {
	width: 100%;
	aspect-ratio: 16 / 9;
}
</style>
